.bodyMain{
    position: relative;
    margin-bottom: 24px;
}

.buttonsEditable .MuiSvgIcon-root{
    display: none;   
}

.bodyMain:hover .buttonsEditable .MuiSvgIcon-root{
    display: block;
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 15px;
    transition: all 300ms ease-in; 
    
    color: grey;
    padding: 1px;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
}
.bodyMain:hover .buttonsEditable .MuiSvgIcon-root:hover{   
    border: 2px solid rgb(161, 3, 3);
    color: rgb(161, 3, 3);   
}
