.newpost .body > a {
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue;
}

input, textarea{
    border: none;
    outline: none;   
}
.newpost .body .post__Content {
    display: flex;
    flex-direction: column;
}
.post__Content form #post__title{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-content: center;
    width: 30%;
    padding: 8px;
    border-radius: 8px;    
    border: 2px solid gainsboro;
}

.post__Content form #post__content {
    font-size: 1rem;
    font-weight: 500;
    min-height: 350px;  
    display: flex;
    align-content: flex-start;
    width: 100%;
    padding: 8px;
    border-radius: 8px;    
    border: 2px solid gainsboro;
}

.submit__Button > input{
    cursor: pointer;
    color: white;
    background-color: dodgerblue;
    padding: 4px 16px;
    border-radius: 4px;

}

.invalid-field {
    border-color: #dc3545 !important;
    color: #dc3545;
    background-color: #fff;
}