.post__Icons{
    display: flex;
    align-items: center;
}
.post .body .post__Icons >a {
    /* margin-right: 16px; */
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue;    
}

.post__Icons > a , .post__delete > svg{
    margin-right: 8px;
}

.post .body .post__Icons>a:hover {    
    color: white;
    background-color: dodgerblue;
}
.post__delete {
    display: flex;
    align-items: center;
}

.post .body .post__delete .MuiSvgIcon-root {  
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue;    
    cursor: pointer;
    padding: 3px;
}
.post .body .post__delete .MuiSvgIcon-root:hover {
    color: white;
    background-color: dodgerblue;
}

.post .body .post__Content #post__title{  
    text-align: center;
    color: dodgerblue;
    margin-top: 8px;
}
.post .body .post__Content #post__content{  
    margin-top: 8px;
    height: auto;
}
.post .body .post__Content #post__date{  
    font-size: 1rem;
    color:rgb(190, 190, 190);
    padding: 12px 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    margin: 24px 0;
}

/***************************************************** Editing */
button{
    outline: none;
    margin-right: 5px;
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue
}

.update__title > input{
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
}
.update__content{}
              
