/************************************** ICONS ****************************/
.post__Icons {
    display: flex;
    align-items: center;      
}

.icons{
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    margin-right: 8px;
    padding: 3px 5px; 
    color: dodgerblue;
    cursor: pointer;  
    transition: all 400ms ease;  
}

.icons:hover{
    transform: scale(1.2);
    color: white;
    background-color: dodgerblue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .3);
}

.icons > .MuiSvgIcon-root {     
    font-size: 20px;    
}

/************************************** PAGE ****************************/
.title__Container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.post .body .post__Content #post__title {
    text-align: center;
    color: dodgerblue;
    margin-top: 8px;
    width: 100%;
}

.post .body .post__Content #post__content {
    margin-top: 8px;
    height: auto;
    flex: 1;
}

.post .body .post__Content #post__date {
    font-size: 1rem;
    color: rgb(190, 190, 190);
    padding: 12px 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    margin: 24px 0;
}
